<head>

<title>Welcome to Surf &#38; Paddle Co.</title>

<!-- meta name="keywords" content="surf, paddle, beach, north carolina" />
meta name="description" content="Surf and Paddle provides the best experience in the water" /> -->

</head>

<body>
  <div id="wrapper">
  <div id="banner">
    <img src="images/wave.png" />
    <p>SURF &#38; PADDLE CO. BLOG</p>
    <div id="nav">
      <ul>
        <li><a href="">ABOUT</a></li>
        <li><a href="">SEARCH</a></li>
        <li><img src="images/m_glass.png" /><li>
      </ul>
    </div>
    <h1>SURF &#38; PADDLE CO.</h1>
    <h4>An Ironyard Academy Project Est. Summer 2014</h4>
  </div>

  <div id="main">
    <h2>HANGIN' TEN AND HANG LOOSE!</h2>
    <img src="images/dolphin.jpg" />
    <p><strong>Scott Bradshaw</strong> on Sunday, June 15th 1:22pm</p>
    <br>
    <p>Going to the beach can be fun and relaxing.  But if need a workout and are in Ka'anapali, HI then you should check out the surf.  Surf &#38; Paddle Co. has been in business for about 70 years now and owners Paul & Kate Durley are having as much fun now as the day they started.  Whether you want to "hang ten" with a surf board or take it a little easier on a paddle board, they have you covered.  Not only do they rent you the equipment but they offer lessons and guided paddle board tours in calmer waters.</p>
    <p>We caught up with Paul and Kate just after a lesson.  The water was calm and smooth.  They had just taken the Smith family, from <a href="">Little Rock, AR</a>, on a tour around a small island off of Maui on paddleboards.  John Smith said he never thought that he, his wife, and twin 12 year olds would ever be able to make it on paddleboards.  But, "the guidance and patience of Paul and Kate was amazing.  We all had the hang of [paddleboarding] in about an hour.  Then we started our tour around the island and saw some amazing landscape and sea life.  This was the ride of a lifetime!  Certainly something we'll never forget!"
    <p id="quote">"THIS WAS THE RIDE OF A LIFETIME!"</p>
    <p>Paul and Kate are orignially from <a href="">Connecticut</a>.  They came to Hawaii on their honeymoon and just knew they were destined to return for good one day.  Both were already adverturers, taking part in various water sports all over the world.  Paul says "we just knew we wanted to be here one day.  This is such a magical place and when we starting thinking of ways to make our dream come true we decided to doing something we were already passionate about was the thing to do.  People come to Hawaii for adventures.  Surfing and paddlebaording can be enjoyed by kids as yound as 6 and as old as 90!" </p>
    <p>After our interview I took a shot at surfing and paddleboarding.  The waves were beautiful but forgiving.  Paul had me standing on the boards within a half hour.  Riding the first wave came about an hour later.  After a few "wipe outs" and thrills, I tried my hand at paddleboarding.  I can assure you it was more my speed.  Paddleboarding was easy once I figured out my balance...and what an amazing way to see this majestic place that we call home.
    <ul>
    <li class="grey"><a href="">Read Comments</a></li>
    <li class="grey"><a href="">Read Later</a></li>
    <li id="share"><a href="">Share This Post</a></li>
    </ul>
  </div>

  <div id="sidebar">
    <p><img src="images/dolphin.jpg" /></p>
    <p><strong>Scott Bradshaw</strong></p>
    <ul>
      <li><a href="https://twitter.com">Twitter</a></li>
      <li><a href="https://www.facebook.com/">Facebook</a></li>
      <li><a href="http://instagram.com/#">Instagram</a></li>
    </ul>
    <img src="images/kayak.jpg" />
    <p><a href="">About this Ad</a></p>
    <h3>SWIMMING WITH THE FISH</h3>
    <p>When in Hawaii, you must discover the underwater sea life by snorkeling.  It is so popular because of the wide variety of species in Hawaii. In addition to the turtles, snorkelers can take a peek at the Humuhumunukunukuapuaa (the state fish of Hawaii) milletseed butterfly fish, yellow tangs, trumpet fish, angel fish, and many more.</p>
  </div>

  <div id="posts">
    <h2>POPULAR SURF POSTS</h2>
    <p><a href=""><img src="images/paddles.JPG" /></a></p>
    <p><a href=""><img src="images/dolphins_jumping.jpg" /></a></p>
    <p><a href=""><img src="images/beach.jpeg" /></a></p>
    <p><a href=""><img src="images/dog.jpg" /></a></p>
  </div>

  <div id="footer">
    <img src="images/logo.png" />
    <p>The Ironyard Copyright 2014. All Rights Reserved</p>
    <ul>
      <li><a href="">Nav Item 1</a></li>
      <li><a href="">Nav Item 2</a></li>
      <li><a href="">Nav Item 3</a></li>
      <li><a href="">Nav Item 4</a></li>
    </ul>

  </div>
</div>

</body>
